#cabecera{
    float: left;
    display: flex;
    align-items: center; 
    border-bottom:  1px solid grey;
    width: 100%;
}

img{
    float: left;
    max-width: 10%;
    mix-blend-mode: multiply;

}

h1{
    text-align: center;
    font-size: 75px;
    padding-left: 300px;
    padding-top:10px;
    padding-bottom: 110px;
    letter-spacing: 0.25em;
    word-spacing: 0.25em;
}

@media screen and (max-width: 850px) {
  #cabecera {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  img {
      max-width: 70%; 
      margin-bottom: 0px;  
  }
  h1 {
    font-size: 1.3em;
      padding: 10px;  
  }
}